@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family:"poppins" sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  width:auto;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(66, 238, 75);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(243, 43, 109, 0.8);
}

   /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  body{
    
   
    background:#31b6ce;
  }
  
header{
 position: fixed;
 top:0; left:0; right:0;
 background:  #ffff;
 box-shadow:0 5px 10px rgba(0,0,0,.1);
 padding:20px 7%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 1000;
}

header .logo{
    font-weight:bolder;
    font-size:25px;
    color: #51e92b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #64d339; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(228, 29, 195);
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(224, 25, 175);
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  
  /* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #2454f3;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }




header label{
    font-size: 20px;
    color:#333;
    cursor: pointer;
    display: none;
}


@media(max-width:991px){

    header{
        padding: 20px;
    }

    header label{
        display:initial;
    }

  }